<div class="container">
  <div class="highlight-module highlight-module--custom highlight-module--inline g--half">
    <h3 class="highlight-module__title">Movies</h3>
    <ul class="highlight-module__list qa-movies-list">
      {{#each movies}}
        <li>{{#link-to 'movie' this}}{{title}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="highlight-module highlight-module--custom highlight-module--inline g--half g--last">
    <h3 class="highlight-module__title">70 years older actors</h3>
    <ul class="highlight-module__list qa-actors-list">
      {{#each filteredActors}}
        <li>{{name}}</li>
      {{/each}}
    </ul>
  </div>
</div>
