<div class="container">
  <form class="highlight-module--inline highlight-module--custom g--third g--centered">
    <h3 class="highlight-module__title">Welcome</h3>
    <p class="color--danger qa-message">You entered incorrect credentials</p>
    {{input placeholder="username" value=username class="qa-username"}}
    {{input placeholder="password" type="password" value=password class="qa-password"}}
    {{input type="submit" value="login" class="button--custom qa-submit"}}
  </form>
</div>
